/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive, sans-serif;
  background-color: rgba(10, 0, 30, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  padding: 20px 0 10px;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  background: rgba(10, 0, 30, 0.8);
  z-index: 10;
}

.header h1 {
  font-size: 36px;
  
  color: #f8e287;
  animation: glow 3s ease-in-out infinite alternate;
}

.tagline {
  font-size: 16px;
  color: #ccc;
  opacity: 0.85;
}

/* Hero Background */
.hero {
  height: calc(100vh - 192px);
  background: url('../assets/img/homeBackground.png') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}

/* Floating Icons */
.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.floating {
  animation: floatY 7s ease-in-out infinite;
  position: absolute;
  display: inline-block;
  text-align: center;
}

.icon-link {
  display: inline-block;
  text-align: center;
}

.icon-link img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.icon-link:hover img {
  transform: scale(1.2) rotate(5deg);
  margin-bottom: 10px;
  
}

/* Labels */
.label {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

.icon-link:hover .label {
  opacity: 1;
}

/* Floating Animation */
@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Glowing Text */
@keyframes glow {
  from {
    text-shadow: 0 0 1px #ffd700, 0 0 5px #ffa500;
  }
  to {
    text-shadow: 0 0 3px #ffea00, 0 0 20px #ffcc00;
  }
}

/* Footer */
.footer {
  text-align: center;
  padding:  20px  0 5px 0;
  background: rgba(10, 0, 30, 0.8);
  color: #ccc;
  font-size: 0.8rem;
 
 
}

.footer p{
  margin-bottom: 0;
}

.social-links {
  margin-bottom: 12px;
}

.social-btn {
  display: inline-block;
  margin: 0 12px;
  color: #ffa500;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 6px 12px;
  border: 1px solid #ffa500;
  border-radius: 8px;
}

.social-btn:hover {
  background: #f8e0b4;

  color: #000;
  box-shadow: 0 0 10px #ffa500;
}




/* Icon Positions */
.icon-project {
  top: 25%;
  left: 8%;
}

.icon-about {
  top: 8%;
  left: 92%;
}

.icon-resume {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-skills {
  top: 80%;
  left: 10%;
}

.icon-contact {
  top: 75%;
  left: 80%;
}
